@import '~@angular/material/theming';

@include mat-core();

$custom-palett-primary: (
  50: #e7eafb,
  100: #c5cfe3,
  200: #a4aec6,
  300: #838eaa,
  400: #6b7896,
  500: #526282,
  600: #455572,
  700: #35425c,
  800: #263147,
  900: #141e30,
  A100: #a1aeb4,
  A200: #8eacbd,
  A400: #75a3bb,
  A700: #4D96BE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$custom-palette-accent: (
  50: #e2f7fe,
  100: #b7ecfb,
  200: #89e0f7,
  300: #5dd3f1,
  400: #42c9eb,
  500: #39c0e5,
  600: #33b0d1,
  700: #2a9bb6,
  800: #24879d,
  900: #156470,
  A100: #ffffff,
  A200: #e0f6ff,
  A400: #ade8ff,
  A700: #93e1ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// custom background and foreground palettes
$custom-dark-theme-background: (
  status-bar: green,
  app-bar:    map_get($mat-red, 900),
  background: map_get($custom-palett-primary, 900),
  hover:      rgba(white, 0.04),
  card:       map_get($custom-palett-primary, 800),
  dialog:     map_get($custom-palett-primary, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($custom-palett-primary, A100),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$custom-dark-theme-foreground: (
  base:              yellow,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              $light-primary-text,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function create-custom-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $custom-dark-theme-foreground,
    background: $custom-dark-theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$custom-theme-primary: mat-palette($custom-palett-primary);
$custom-theme-accent: mat-palette($custom-palette-accent);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: create-custom-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
